<?xml version="1.0"?>

<launch>
    <param name="robot_description"
           command="xacro $(find frea_description)/urdf/frea_dart.urdf.xacro"/>

    <include file="$(find frea_dart)/launch/frea_dart.launch"/>

    <include
        file="$(find frea_bringup)/launch/components/controllers.launch"/>

    <node name="frea_training" pkg="frea_training_envs"
          type="train_motion_controller" output="screen"/>
</launch>
