<?xml version="1.0"?>
<launch>
    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="true"/>
        <arg name="verbose" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="physics" value="dart"/>
    </include>

    <!-- Spawn in robot -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model frea -x 0 -y 0 -z 0.1"/>

    <rosparam command="load"
              file="$(find frea_gazebo)/config/ros_controllers.yaml"/>
</launch>
