<?xml version="1.0"?>

<launch>
    <!-- Set to false to launch the simulation instead of launching on
         hardware -->
    <arg name="hardware" default="true"/>

    <!-- Launch simulation components if requested -->
    <group unless="$(arg hardware)">
        <param name="/robot_description"
               command="xacro $(find frea_description)/urdf/frea_dart.urdf.xacro"/>
        <include file="$(find frea_dart)/launch/frea_dart.launch"/>
    </group>

    <!-- Launch hardware components if requested -->
    <group if="$(arg hardware)">
        <param name="/robot_description"
               command="xacro $(find frea_description)/urdf/frea.urdf.xacro"/>
    </group>
    
    <!-- Launch ROS control and robot state publishers -->
    <include
        file="$(find frea_bringup)/launch/components/controllers.launch"/>
</launch>
