<?xml version="1.0"?>

<launch>
    <!-- Set to false to launch the simulation instead of launching on
         hardware -->
    <arg name="hardware" default="true"/>

    <param name="robot_description"
           command="xacro $(find frea_description)/urdf/frea.urdf.xacro"/>

    <!-- Launch simulation components if requested -->
    <group unless="$(arg hardware)">
        <include file="$(find frea_gazebo)/launch/frea_gazebo.launch"/>
    </group>

    <!-- Launch hardware components if requested -->
    <group if="$(arg hardware)">
    </group>
    
    <!-- Launch ROS control and robot state publishers -->
    <include
        file="$(find frea_bringup)/launch/components/controllers.launch"/>
</launch>
